span.caret-block {
    background-color: hsla(1, 1%, 100%, 1);
    color: #000;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: rgb(203, 120, 192);
    }
}